*{
	margin:0;
	padding:0;
}
h2{
	font-size: 20px;
	color: #fff;
	text-align: center;
	font-weight: 100;
	background: #7b0057;
	padding:10px;
}
.grid-item { 
	padding:5px 5px 0 5px;
}
.grid-item img, .grid-item video{
	width: 100%;
	display: block;
}
.pop{
	background: #000;
	width:100%;
	height:100%;
	position:fixed; 
	top:0;
	z-index: 9999;
	overflow-y:auto; 
	text-align: center;
}
.pop img{
	width:100%;
}
.grid-item section{
	padding:5px;
	background: #000;
}
.grid-item section time{
	font-size: 12px;
	color: #8c8c95;
	font-weight: 200;
}
.grid-item section p{
	font-size: 12px;
	color:#cbc8d3;
	font-weight: 200;
}
.pop section{
	margin:0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding:5px;
}
.pop section time{
	font-size: 12px;
	color:#8c8c95;
}
.pop section p{
	font-size: 12px;
	color:#cbc8d3;
}
@media  (min-width: 960px){
	h2{
		width:680px;
		margin:0 auto;
	}
	.grid{
		width:680px;
		margin:0 auto;
	}
	.pop img{
		width:800px; 
		margin:0 auto;
	}
	.pop section{
		width:800px;
		margin:0 auto;
		padding:15px 0;
	}
}